*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* #CSS HEADING NAVBAR */
header{
    background-color: #fff;
    min-height: 100vh;
    overflow-x: hidden;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}
.navbar .logo img{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    margin-top: 5px;
}
.navbar .container{
    display: flex;
    align-items: center;
}
.navbar .container ul{
    position: relative;
    display: flex;
    gap: 30px;
}
.navbar .container ul li{
    list-style: none;
}
.navbar .container ul li a{
    position: relative;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

